#field2 {
    padding: 3px;
    margin:15;
    float: left;
    border-color: #1b2838;
  	border-style: solid;
}


.column {
  float: left;
  padding: 1px;
}

body {
  background-color: #2a475e;
  color: #c7d5e0;
}

.header {
  overflow: hidden;
  background-color: #1b2838;
  padding: 20px 10px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.field_set{
  border-color: #171a21;
  border-style: solid;
}