.button {
  margin-top: 3%;
  float: right;
  width: 100px;
  height: 25px;
  border-radius: 18px;
  background-color: #66d6a4;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.button:hover {
  background-color: transparent;
  border-color: #fff;
  transition: all 0.1s ease-in-out;
}
#formIndex{
  margin-left: 30%;
  width: 1000px;
}
#socialStatsYT{
  width: 600px;
  height: 200px; 
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

/* demo */
body {
  font-family: 'Poppins', sans-serif; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color:#222222;
}

#logo{
  width: 1000px;
  height: 400px;
}

img{
    width: 300px;
    height: 200px;
}

#profilePic{
    width: 100px;
    height: 100px;
}


.textoNombre, h1, p{
    color: rgb(198, 198, 204);
}

.canal{
  margin-left: 80%;
}
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  [type=radio] + img {
    cursor: pointer;
  }
  
ul{
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  display: inline;
  text-decoration: none;
}
  [type=radio]:checked + img {
    animation-name: hovercolor;
    animation-fill-mode: forwards;
    animation-duration: 100ms;
    
  }

  @keyframes hovercolor{
    from{outline: 0px}
    to{outline: 2px solid #0E5;}
  }
  